.top_1{
	width:100%;
	height:1.28rem;
	background:url(../images/rated.png) no-repeat;
	background-size:100% 100%;	
}
.top_1 img{
	display: block;
	width:0.22666666666666666rem;
	height: 0.4rem;
	float: left;
	margin-left:0.26666666666666666rem;
	margin-top:0.46666666666666666rem;
}
.top_1 span{
	width:9.453333333333333rem;
	height:1.28rem;
	line-height:1.28rem;
	font-size:0.45rem;
	color:#FFFFFF;
	text-align:center;
	float: left;
}
